<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>try_servlet</servlet-name>
        <servlet-class>t_servlet.try_servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>try_servlet</servlet-name>
        <url-pattern>/123.jsp</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>try_filter</filter-name>
        <filter-class>t_filter.try_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>try_filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>t_listener.服务器启动关闭的监听</listener-class>
    </listener>
    <listener>
        <listener-class>t_listener.session的监听</listener-class>
    </listener>
    <listener>
        <listener-class>t_listener.request的监听</listener-class>
    </listener>
    <listener>
        <listener-class>t_listener.ServletContext属性</listener-class>
    </listener>
    <listener>
        <listener-class>t_listener.HttpSession属性</listener-class>
    </listener>
    <listener>
        <listener-class>t_listener.ServletRequest属性</listener-class>
    </listener>
</web-app>